header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff50;
  width: 100%;
  text-decoration: none;
}
button{
  background-color: #00000000;
}
.nav-ul{
  display: flex;
  gap: 13px;
  list-style-type: none;
}
header h2{
  font-size: 30px;
  margin: 0;
}
.header-box{
  display: flex;
  width: 100%;
  margin: 13px 90px 13px 90px;
  
}
.search-box{
  margin-left: auto;
  margin-right: auto;
}
.search-input{
  color: #ffffff;
  width: 500px; /*длинна*/
  height: 40px; /*высота*/
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  transition: 0.2s;
  background-color: #272727;
  right: 50px; /* Отступ от кнопки */
  transform-origin: right; /* Точка трансформации справа */
}
.nav-box{
  display: flex;
  justify-items: center;
  align-content: center;
}
.nav-box ul{
  padding: 0;
  margin: 0;
}
ul a{
  text-decoration: none;
  color: #5e5e5e;
}
.active-link{
  color: #000000;
  background-color: #ffffff;
  border-radius: 20px;
  width: 100px;
  height: 40px;
}
.li-st{
  text-align: center;
  align-content: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 20px;
  outline: solid 1px #ffffff;
}
.add-li{
  display: flex;
  gap: 13px;
}
.nav-but{
  width: 40px;
  height: 40px;
  outline: solid 1px #ffffff;
  border-radius: 20px;
}
.circle{
  align-content: center;
  text-align: center;
  width: 40px;
  height: 40px;
  outline: solid 1px #ffffff;
  border-radius: 20px;
  cursor: pointer;
}