@import "tailwindcss";
body {
  background-color: black;
  color: white;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.h-title{
  font-size: 30px;
}
.custom-bt-swiper{
  .swiper-button-next,
  .swiper-button-prev{
    color: #ffffff;
    top: 42%;
  }
}
.active-link{
  color: #75e753;
}

@media screen and (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    visibility: hidden;
  }
}

