@import "tailwindcss";
body {
  background-color: black;
  color: white;

  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.h-title{
  font-size: 30px;
}

.anime-slide{
  swiper-wraper{
    
  }
}