.image-box {
    width: 100%; /*ширина*/
    height: 100%; /*высота*/
    background-color: rgb(0, 0, 0);
    img {
      max-width: 100%; /* Ограничение по ширине */
      max-height: 100%; /* Ограничение по высоте */
    }
    .swiper {
      width: 100%;
      height: 800px; /*высота*/
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #222222;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
    }
    .Swiper-image {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}
.Slide-container{
  position: absolute;
  width: 450px;
  margin-left: 50px;
  left: 0;
  justify-items: center;
} 
.anime-logo{
    box-sizing: border-box;
}
.Slider-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical; 
  -webkit-line-clamp: 10; /* строки */
  word-break: break-word;
  margin-bottom: 10px;

  p {
    font-size: 16px;
  }
}

.play-button-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.play-button:hover{
  transform: scale(0.95);
}
.play-button {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  color: #000000;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  height: 50px;
  transition: ease-in-out 0.2s;

  h1{
    font-size: 24px;
    margin: 0;
  }
}
a{
  text-decoration: none;
}
.anime-info{
  display: flex;
  gap: 10px;
  .score{
    background-color: #38b000;
    border-radius: 20px;
    padding-left: 7px;
    padding-right: 7px;
    width: auto;
  }
}