@media screen and (max-width: 320px) { /* phone */
  header .header-container{
    margin: 0px 10px 0px 10px; 
  }
  .side-bar{
    display: none;
  }
  .CategorieCardBox{
    max-width: 500px;
  }
}

@media (max-width: 768px) { /* tablet */
  header .header-container{
    margin: 0px 25px 0px 25px; 
  }
}

@media (min-width: 1200px) { /* desktop */

}
