.Main-Box{ 
  padding-top: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.Avatar-Box{ 
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;

  img {
    border-radius: 50%;
    width: 128px;
    height: 128px;
  }
}

.Profile-Buttons{ 
  gap: 20px;
  display: flex;
  margin-bottom: 20px;
}

.Profile-Button{ 
  background-color: #262b36;
  padding: 3px;
  border-radius: 10px;
  font-size: 22px;
}

.Background{ 
  background-image: url("https://i.imgur.com/Rs4pQwI.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  flex-direction: column;
}

.Profile-Window{
  width: 80%;
  height: 550px;
  border-radius: 20px;
  background-color: #262b3663;
  outline: solid 1px #ffffff57;
  backdrop-filter: blur(10px);
}

.Avatar-Label{ 
  cursor: pointer;
  position: relative;
  display: inline-block;

  .avatar-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  .avatar-label:hover .header-avatar {
    opacity: 0.4;
  }
  .avatar-label:hover .avatar-icon {
    opacity: 1;
  }
}

.Avatar-Overlay{ 
  position: relative;
  display: inline-block;
}

.Window-Content{
  padding: 25px;

  button{
    background-color: rgba(0,0,0,0);
  }
}
.Setting-Content{
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 12px;
    flex-direction: column;
  }
  li {
    padding-left: 10px;
    border-radius: 10px;
    list-style: none;
    height: 55px;
    width: 100%;
    background-color: #141c26;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
.setting-button{
    margin-top: 10px;
    display: flex;
    gap: 10px;
    font-size: 16px;
    .exit{
        border-radius: 10px;
        background-color: #d90429;
        padding-left: 5px;
        padding-right: 5px;
    }
    .save{
        border-radius: 10px;
        background-color: #38b000;
        padding-left: 5px;
        padding-right: 5px;
    }
}
